# Example MariaDB config file for medium systems.
#
# This is for a system with little memory (32M - 64M) where MariaDB plays
# an important part, or systems up to 128M where MariaDB is used together with
# other programs (such as a web server)
#
# MariaDB programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, do:
# 'my_print_defaults --help' and see what is printed under
# Default options are read from the following files in the given order:
# More information at: http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MariaDB clients
[client]
#password	= your_password
port		= 3307
socket		= /opt/mariadb1/mariadb1-data/mariadb.sock

# Here follows entries for some specific programs

# The MariaDB server
[mysqld]
port		= 3307
socket		= /opt/mariadb1/mariadb1-data/mariadb.sock
user            = mariadb1
datadir         = /opt/mariadb1/mariadb1-data
basedir         = /opt/mariadb1/mariadb1
log-bin         = /var/log/mariadb1/mariadb1-bin.log
server_id       = 1


# CACHES AND LIMITS #
tmp-table-size             = 128M
max-heap-table-size        = 128M
open-files-limit           = 100000
table_open_cache           = 12000
table_definition_cache     = 3000
thread_cache_size          = 3000
max_connections            = 5000
max_connect_errors         = 1000000
#######Timeout 
wait_timeout               = 500
interactive_timeout        = 500
connect_timeout            = 30
max_statement_time         = 300

# * Fine Tuning
#
max_allowed_packet      = 1G
key_buffer_size         = 256M
sort_buffer_size        = 2M
join_buffer_size        = 1M
bulk_insert_buffer_size = 16777216
read_buffer_size        = 1M
read_rnd_buffer_size    = 2M
myisam_sort_buffer_size = 8M
group_concat_max_len    = 500M
interactive_timeout     = 28800

myisam-recover-options  = BACKUP

query_cache_type=1
query_cache_size=128M
query_cache_limit=2M

expire_logs_days        = 10
max_binlog_size         = 100M

performance_schema = 0

########Thread Pooling
thread_handling = pool-of-threads
thread_pool_size=200

secure-auth = 0
skip-secure-auth
skip-symbolic-links
safe-user-create
skip-show-database
skip-external-locking
skip-name-resolve

log_bin_trust_function_creators = 1

log-error=/opt/mariadb-logs-1/errorlog-1.err
log-warnings=1

slow_query_log=ON
long_query_time=2
slow_query_log_file=/opt/mariadb-logs-1/slowlogs-1.log
optimizer_switch='mrr=on'

sync_binlog= 0

innodb_log_group_home_dir =/opt/mariadb-logs-1/redolog
innodb_buffer_pool_dump_at_shutdown=ON

#### Immediately records pages stored in the buffer pool. The related innodb_buffer_pool_load_now does the reverse, and will immediately warm up the buffer pool.
innodb_buffer_pool_dump_now=ON


# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql2/
#
innodb_read_io_threads = 64
innodb_write_io_threads = 64
innodb_thread_concurrency = 0

innodb_log_files_in_group=2
innodb_log_file_size = 1G
innodb_log_buffer_size = 32M
innodb_buffer_pool_size = 24G

innodb_file_per_table = 1
innodb_open_files = 12000
innodb_io_capacity = 400
innodb_flush_method = O_DIRECT
innodb_doublewrite = 0
transaction-isolation="READ-COMMITTED"
#innodb_thread_concurrency = 0
innodb_buffer_pool_instances = 10
innodb_flush_log_at_trx_commit = 0
innodb_lock_wait_timeout = 400

innodb_online_alter_log_max_size = 500M


[mysqldump]
quick
max_allowed_packet = 1G	

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 5M
write_buffer = 5M

[mysqlhotcopy]
interactive-timeout
